# build output
dist/
.output/
.json/

# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# ignore vercel/netlify adapter
.vercel
.netlify

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
package-lock.json
